html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background:rgb(255, 253, 248);
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
img {
    max-width: 100%;
    height: auto;
}

/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__active {
    background: #0E1D28;
    z-index: 1000;
    transition: .2s linear;
}

.wrapper {
    padding: 0 15px;
    max-width: 1060px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.wrapper__full {
    padding: 0 15px;
    max-width: 1262px;
    margin: 0 auto;

}
.section__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section__title::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 82px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}
.header__link:hover, .header__link:hover,
 .header__link:active {
opacity: .75;
}

.header__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 28px;
}
.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #fff;
}
.burger__line_first {
    top: 0;
}
.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third {
    bottom: 0;
}

/*Intro*/

.intro {
    min-height: 100vh;
    background: url(../img/Hero.jpg)
     center no-repeat;
     background-size: cover;
     padding-top: 263px;
     padding-bottom: 223px;
}
.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.intro__subtitle {
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}
.search-form__info {
    display: flex;
    flex-wrap: wrap;
}
.search-form__field {
    width: 297px;
    background-color: transparent;
    background: url(../img/Oval.svg) no-repeat
    left 6px;
    background-size:20px;

    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.search-form__submit {
    text-transform: uppercase;
    padding: 15px 39px;
    background: #1B7DFF;
    border: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}
.search-form__submit:hover, .search-form__submit:active,
 .search-form__submit:focus {
    background: #0c54b3;
 }

 /*Benefits*/

 .benefits {
     margin-bottom: 131px;
 }
 .benefits__wrap {
     position: relative;
     max-width: 1262px;
     background-color: #fff;
     margin: 0 auto;

     box-shadow: 0px 2px 20px 
     rgba(21, 24, 36, 0.15993);
 }
 .benefits__title {
     width: 100%;
     position: absolute;
     padding: 93px 100px 88px 100px;
     top: 0;
     left: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;

    transform: translateY(-100%);
    background-color: #fff;
 }
 .benefits__cards {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap:55px ;
     padding: 0 100px;
 }
 .benefits__card {
     grid-column: span 1;
     margin-bottom: 112px;
 }
 .benefits__card-pic {
     max-width: 66px;
     margin-bottom: 37px;
 }
 .benefits__card-thumb {
     display: block;
 }
 .benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    margin-bottom: 26px;
 }
 .benefits__card-desc {
     max-width: 317px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
 }
 .benefits__card-more {
     display:inline-block;
     padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    margin-bottom: 112px;
    background: url(../img/Shape.svg) no-repeat
    95% center;
    transition: .2s all;
 }
 .benefits__card-more:hover,
  .benefits__card-more:focus {
color: #102746;
background: url(../img/Shape.svg) no-repeat
    right center;
 }



 /*Plases*/

 .plases {
     margin-bottom: 131px;
 }
 .places__caption {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     padding-bottom: 36px;
 }
 .plases__title {
     margin-right: 15px;
 }
 .places__view-all {
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/Shape.svg) no-repeat
    95% center;
    transition: .2s all;
 }
.places__view-all:hover,
 .places__view-all:focus {
    color: #102746;
    background: url(../img/Shape.svg) no-repeat
        right center;
 }
 .places__cards {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
 }
 .places__card {
     position: relative;
     overflow: hidden;
 }
 .places__card:hover .places__card-pic {
transform: scale(1.05);
 }
 .places__card:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 2px 20px 
    rgba(21, 24, 36, 0.15993);
 }
 .places__card-size-lg {
     grid-column: span 3;
 }
 .places__card-size-sm {
    grid-column: span 2;
}
 .places__card-pic {
     width: 100%;
     transition: .2s all;
 }
 .places__card-pic-size-lg {
    object-fit: cover;
    height: 354px;
 }
 .places__card-pic-size-sm {
    object-fit: cover;
    height: 283px;
 }
 .places__card-title {
     position: absolute;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    bottom: 27px;
    left: 29px;
    z-index: 3;
 }
 .places__card-link {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 4;
 }


 /*Tours*/

 .tours {
     margin-bottom: 139px;
 }
 .tours__tour {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 108px;
 }
 .tour__info {
     padding-left: 47px;
 }
 .tour__title {
     max-width: 357px;
     padding-top: 26px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 85px;
 }
 .your__pic {
     padding-bottom: 65px;
 }
 .tour__desc {
     max-width: 519px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
 }
 .tour__more {
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/Shape.svg) no-repeat
    95% center;
    transition: .2s all;
 }
.tour__more:hover,
 .tour__more:focus {
    color: #102746;
    background: url(../img/Shape.svg) no-repeat
        right center;
 }
 
 /*Top*/

 .top {
     margin-bottom: 86px;
 }
 .top__cards {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-column-gap:57px;
     grid-row-gap: 57px;
 }
 .top__card {
     display: flex;
     flex-direction: column;
     grid-column: span 2;
 }
 .top__title {
     margin-bottom: 54px;
 }
 .top__card-pic {
     position: relative;
 }
 .top__card-stats {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-items: center;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     padding: 16px 25px;
 }
 .top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0 ;
 }
 .top__card-likes {
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #fff;
padding-right: 20px;
background: url(../img/hearts.svg)
 no-repeat right;
 margin-right: 14px;
 }
 .top__card-comment {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
background: url(../img/coments.svg)
 no-repeat right;
 }
 .top__card-desc {
     padding-top: 45px;
     max-width: 391;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
 }
 .top__btn {
     padding-bottom: 58px;
 }
 .top__card-btn {
    text-transform: uppercase;
    padding: 12px 19px;
    background: #1B7DFF;
    border: none;
    

    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.top__card-btn:hover, .top__card-btn:active,
 .top__card-btn:focus {
    background: #0c54b3;
 }

 /*Video*/

 .video {
     width: 100%;
 }
 .video__wrapper {
     max-width: 1440px;
     margin: 0 auto;
     position: relative;
 }
 .video__item {
     padding-top: 56.25%;
 }
 .video__element {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 /*Footer*/ 

 .footer {
     background: #0E1D28;
     padding: 119px 0;
 }
 .footer__item {
     display: flex;
     flex-wrap: wrap;
 }
 .footer__logo {
     width: 50%;
 }
 .footer__nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 50%;
 }
 .footer__menu-title {
     padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
 }
 .footer__menu-link {
     padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
 }
 .footer__menu-link:hover, .footer__menu-link:active,
 .footer__menu-link:focus {
     opacity: .75;
 }




 @media screen and (max-width: 990px) {
     .benefits {
         padding-bottom: 25px;
     }
     .search-form__field {
         margin-bottom: 25px;
     }
     .benefits__cards {
        padding: 0 15px;
        grid-column-gap: 35px;
     }
     .benefits__card {
         margin-bottom: 20px;
     }
     .benefits__title {
         padding: 45px 15px;
     }
     .benefits__wrap {
         box-shadow: none;
     }
     .places__card-size-lg {
         grid-column: span 6;
     }
     .places__card-size-sm {
        grid-column: span 6;
     }
     .tours__tour {
         grid-column-gap: 35px;
     }
     .tour__info {
         padding-left: 0;
     }
     .tour__title {
         padding-bottom: 15px;
         font-size: 24px;
         line-height: 30px;
     }
     .tour__desc {
          margin-bottom: 10px;

     }
     .top__cards {
         grid-column-gap: 25px;
         grid-row-gap: 25px ;
     }
     .top__card {
         grid-column: span 3;
     }
     .top__card-desc {
         max-width: 386px;
     }
     .top__card-comment {
        margin-right: 60px;
     }
     .footer {
         padding: 60px 0;
     }
 }

 @media screen and (max-width: 770px) {

    .header__burger {
        display: block;
    }
    
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #0E1D28;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
    }
    .header__nav_active {
        transform: translateX(0);
        transition: .2s all linear;
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        padding-bottom: 0;
    }
    .header__link {
        font-size: 32px;
        line-height: 48px;
    }
    .header__nav_close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 28px;
        right: 20px;
        z-index: 11;
    }
    .header__nav_close-line {
        width: 100%;
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
       
    }
    .header__nav_close-line:first-child {
        transform: translateY(-50%)
         rotate(45deg);
    }
    .header__nav_close-line:last-child {
        transform: translateY(-50%)
         rotate(-45deg);
    }
    
    .search-form__field {
        width: 100%;
        margin-right: 0;
    }
    .benefits__card {
        grid-column: span 3;
    }
 }

 @media screen and (max-width: 500px) {
    .header__wrapper {
        padding-top: 28px;
    }
    .header__nav_close {
        padding-top: 28px;
    }
    .intro {
        padding-top: 140px;
    }
    .intro__title {
        font-size: 30px;
        line-height: 48px;
    }
    .intro__subtitle {
        font-size: 14px;
    }
    .search-form__field {
        padding-bottom: 12px;
    }
    .search-form__field::placeholder {
        font-size: 16px;
    }
    .search-form__submit {
        width: 100%;
        font-size: 18px;
        padding: 5px 39px;
    }
    .benefits__card-pic {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .benefits__card-title {
        margin-bottom: 10px;
    }
    .benefits__card-desc {
        margin-bottom: 15px;
    }
    .benefits__card-title, .benefits__card-desc {
        text-align: center;
    }
    .benefits__card-more {
        margin-left: 90px;
        margin-bottom: 25px;
    }
    .plases__title {
        font-size: 25px;
    }
    .section__title::after {
        width: 100px;
    }
    .places__view-all {
        margin-top: 15px;
    }
    .places__card-size-lg, .places__card-size-sm {
        height: 230px;
    }
    .plases {
        margin-bottom: 70px;
    }
    .your__pic, .tour__info {
        grid-column: span 2;
    }
    .your__pic {
        padding-bottom: 0px;
    }
    .your__pic-mob-firs {
        grid-row-start: -1;
    }
    .top__card {
        grid-column: span 6;
    }
    .top__card-comment {
        margin-right: 10px;
    }
    .top__card-desc {
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .top__title {
        font-size: 25px;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__nav {
        width: 100%;
    }
    .footer__menu {
        padding-bottom: 15px;
        width: 50%;
    }
 }

